template
  grid(if.bind="models.length > 0",
       data.bind="models",
       height="150",
       columns-metadata.bind="columns",
       show-filters.bind="true",
       selection="multiselect",
       select-grid-row.trigger="onRowSelect($event.detail.$item)",
       deselect-grid-row.trigger="onRowDeselected($event.detail.$item)")
    grid-row
      grid-col
